{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter média</title>
    <link rel="stylesheet" href="{% static 'note/css/style.css' %}">
</head>
<body>

<div class="container">

    <h1>Ajouter un média à : {{ note.titre }}</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div>
            <label>Type:</label>
            {{ form.type }}
        </div>

        <div>
            <label>Url:</label>
            {{ form.url }}
        </div>

        <div>
            <label>Image:</label>
            {{ form.image }}
        </div>

        <div class="actions">
            <button type="submit" class="btn btn-success">
                Ajouter
            </button>

            <a href="{% url 'note_detail' note.id %}" class="btn btn-secondary">
                Retour
            </a>
        </div>
    </form>

</div>

</body>
</html>