{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Détail note</title>
    <link rel="stylesheet" href="{% static 'note/css/style.css' %}">
</head>
<body>

<div class="container">

    <div class="note-item">

        <h1>{{ note.titre }}</h1>

       <div class="note-content">
            {{ note.contenu|safe }}
       </div>
       
        <p class="note-meta">
            <strong>Catégorie :</strong>
            {% if note.categorie %}
                <span class="badge">{{ note.categorie.nom }}</span>
            {% else %}
                aucune
            {% endif %}
        </p>

        <p class="note-meta">
            <strong>Date création :</strong>
            {{ note.date_creation|date:"d/m/Y H:i" }}
        </p>

        <p class="note-meta">
            <strong>Date modification :</strong>
            {{ note.date_modification|date:"d/m/Y H:i" }}
        </p>

        <div class="actions">
            <a href="{% url 'note_modifier' note.id %}" class="btn btn-warning">Modifier</a>
            <a href="{% url 'note_supprimer' note.id %}" class="btn btn-danger">Supprimer</a>
            <a href="{% url 'version' note.id %}" class="btn btn-secondary">Voir versions</a>
            <a href="{% url 'media_liste' note.id %}" class="btn btn-success">Voir médias</a>
            <a href="{% url 'media_ajouter' note.id %}" class="btn btn-success">Ajouter média</a>
            <a href="{% url 'partage_ajouter' note.id %}" class="btn btn-primary">Partager</a>
            <a href="{% url 'exporter_pdf' note.id %}" class="btn btn-danger">Export PDF</a>
            <a href="{% url 'exporter_markdown' note.id %}" class="btn btn-secondary">Export Markdown</a>
            <a href="{% url 'note_liste' %}" class="btn btn-secondary">Retour</a>
        </div>

    </div>
     
  


<div class="note-item">
    <h2>Collaborateurs</h2>

    {% if partages %}
        <ul>
            {% for partage in partages %}
                <li>
                    <strong>{{ partage.collaborateur }}</strong>
                    -
                    <span class="badge">{{ partage.permission }}</span>

                    <a href="{% url 'partage_modifier' partage.id %}" class="btn btn-warning">
                        Modifier permission
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun collaborateur pour cette note.</p>
    {% endif %}
</div>

</div>

</body>
</html>