<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Versions de : {{ note.titre }}</h1>

<ul>
    {% for version in versions %}
        <li>
            <strong>{{ version.date_modification }}</strong>
            <p>{{ version.contenu }}</p>
        </li>
    {% empty %}
        <li>Aucune version disponible.</li>
    {% endfor %}
</ul>

<a href="{% url 'note_detail' note.id %}">Retour à la note</a>
</body>
</html>