<h1>{{ note.titre }}</h1>
<p>{{ note.contenu }}</p>
<p>Créée le : {{ note.date_creation }}</p>
<p>Modifiée le : {{ note.date_modification }}</p>

<h3>Tags :</h3>
<ul>
    {% for tag in note.tags.all %}
        <li>{{ tag.nom_tag }}</li>
    {% empty %}
        <li>Aucun tag</li>
    {% endfor %}
</ul>

<h3>Médias</h3>
<ul>
    {% for media in note.medias.all %}
        <li>
            Type : {{ media.type }}

            {% if media.url %}
                <br>Lien : <a href="{{ media.url }}">{{ media.url }}</a>
            {% endif %}

            {% if media.fichier %}
                <br>Fichier : <a href="{{ media.fichier.url }}">{{ media.fichier.name }}</a>
            {% endif %}
        </li>
    {% empty %}
        <li>Aucun média pour cette note.</li>
    {% endfor %}
</ul>